/* Main styles */
.root {
    -fx-font-family: 'Arial'
}

.panel-image1 {
    -fx-background-image: url(mountain.jpg);
    -fx-background-size: cover;
}

.panel-transparent {
    -fx-background-color: rgba(255, 255, 255, 0.9);
    -fx-padding: 50;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-hgap: 100;
}

.panel-dark1 {
    -fx-background-color: rgb(55, 70, 108);
    -fx-padding: 50;
    -fx-hgap: 100;
}

.main-label {
    -fx-text-fill: rgb(12, 7, 48);
    -fx-font-size: 16px;
}

.main-label-interact {
    -fx-text-fill: rgb(12, 7, 48);
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.main-label-interact:hover {
    -fx-text-fill: rgb(20, 12, 84);
    -fx-underline: true;
}

.button-blue {
    -fx-background-color: #5c7add;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.button-blue2 {
    -fx-background-color: #5c7add;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 3;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.button-red {
    -fx-background-color: #bc3434;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.button-grey {
    -fx-background-color: #61646f;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.panel-input {
    -fx-font-size: 14px;
    -fx-text-fill: rgb(20, 12, 84);
    -fx-padding-bottom: 10;
    -fx-background-color: #ffffff;
    -fx-border-color: #dcdcdc;
    -fx-border-width: 1;
    -fx-border-radius: 5;
}


/* ВХОД/РЕГИСТРАЦИЯ */
.login-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.error-message {
    -fx-text-fill: red;
    -fx-font-size: 14px;
}

.login-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

.login-label2 {
    -fx-text-fill: rgb(12, 7, 48);
    -fx-font-size: 14px;
}


/* СТИЛИ МЕНЮ */
.menu-container {
    -fx-background-color: rgb(55, 70, 108);
    -fx-padding: 0;
    -fx-border-color: rgb(41, 56, 90);
    -fx-border-width: 1;
}

.menu-container2 {
    -fx-background-color: rgb(55, 70, 108);
    -fx-padding: 10 10 10 10;
    -fx-border-color: rgb(41, 56, 90);
    -fx-border-width: 1;
    -fx-border-radius: 0;
    -fx-alignment: center-left;
    -fx-spacing: 5;
}

.menu-container3 {
    -fx-background-color: rgb(68, 87, 129);
    -fx-padding: 10 10 10 20;
    -fx-spacing: 15;
    -fx-border-width: 1;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.menu-icon {
    -fx-font-size: 23px;
    -fx-font-weight: bold;
    -fx-text-fill: #fffefe;
}

.menu-label1 {
    -fx-font-size: 18px;

    -fx-text-fill: #fffefe;
    -fx-alignment: center-left;
}

.menu-label2 {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #fffefe;
}

.menu-label3 {
    -fx-font-size: 16px;

    -fx-text-fill: #fffefe;
    -fx-cursor: hand;
}

.menu-label3:hover {
    -fx-underline: true;
}

.menu-box {
    -fx-spacing: 10;
}

.menu-hbox {
    -fx-spacing: 2;
    -fx-alignment: center-left;
}

/* ВКЛАДКА HOME */
.home-view {
    -fx-background-color: rgba(255, 255, 255, 0.9);
    -fx-padding: 50;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-hgap: 100;
}

.home-title {
    -fx-text-fill: rgb(24, 18, 78);
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-padding: 20;
}

.section-title {
    -fx-text-fill: rgb(12, 7, 48);
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 1;
}

.section {
    -fx-background-color: #f3f4f5;
    -fx-border-color: #dfe0e1;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 20;
}

.home-label {
    -fx-cursor: hand;
    -fx-font-size: 16px;
    -fx-text-fill: rgb(12, 7, 48);
}

/* ВКЛАДКА СОЗДАНИЯ ПРОЕКТА */
.create-project-title {
    -fx-text-fill: rgb(24, 18, 78);
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-padding: 20;
}

.create-project-label {
    -fx-cursor: hand;
    -fx-font-size: 16px;
    -fx-text-fill: rgb(12, 7, 48);
}

/* ЦЕНТРАЛЬНАЯ ПАНЕЛЬ */
.center-panel {
    -fx-background-color: #d4d6d6;
    -fx-background-size: cover;
}

.center-padding {
    -fx-background-color: #dbdbdc;
    -fx-background-image: url(mountain.jpg);
    -fx-background-size: cover;
    -fx-padding: 75;
}

/* НАСТРОЙКА TABS PANE */

/* ScrollPane's Viewport */
.scroll-pane .viewport {
    -fx-background-color: rgb(236, 236, 236);
    -fx-background-size: cover;
}


/* НАСТРОЙКА ПАНЕЛИ ДОСОК */
.project-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-padding: 10 0 10 10;
}

.task-group {
    -fx-background-color: #e2e2e2;
    -fx-border-color: #bdc3c7;
    -fx-pref-width: 300;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.task-group-title {
    -fx-background-color: #ffffff;
    -fx-border-radius: 3 3 0 0;
    -fx-background-radius: 3 3 0 0;
    -fx-pref-width: 300;
    -fx-padding: 10;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #242424;
}

.task-group-tasklist {
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-padding: 10 3 10 3;
}

.add-task-label {
    -fx-cursor: hand;
    -fx-font-size: 13px;
    -fx-text-fill: #436587;
    -fx-alignment: center;
}

/* Таски */
.task-box {
    -fx-background-color: #ffffff;
    -fx-border-color: #bdc3c7;
    -fx-padding: 10 5 5 5;
    -fx-spacing: 5;
    -fx-border-radius: 0 3 3 0;
    -fx-background-radius: 0 3 3 0;
    -fx-pref-height: 50;
    -fx-cursor: hand;
}

.task-label {
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-text-fill: #34495e;
}

.task-status {
    -fx-text-fill: rgb(255, 255, 255);
    -fx-background-color: rgb(130, 44, 44);
}

.task-content {
    -fx-spacing: 5;
    -fx-hgap: 5;
    -fx-vgap: 5;
    -fx-background-color: rgb(232, 231, 231);
    -fx-border-color: #bdc3c7;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 5;
}

.date-label {
    -fx-fill-width: true;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-font-size: 14px;
    -fx-text-fill: #34495e;
}

.colored-container {
    -fx-padding: 0 0 0 5;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.colored-container2 {
    -fx-padding: 0 0 4 0;
    -fx-border-radius: 3 3 0 0;
    -fx-background-radius: 3 3 0 0;
}

/* теги */
.tags-pane {
    -fx-spacing: 20;
    -fx-hgap: 5;
    -fx-vgap: 5;
    -fx-background-color: rgb(246, 246, 246);
    -fx-border-color: #bdc3c7;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 5;
}

.tags-pane-label-back {
    -fx-padding: 0;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.tags-pane-label {
    -fx-text-fill: #34495e;
}

/* НАСТРОЙКА ВКЛАДКИ СПИСКОВ */
.modern-table {
    -fx-table-cell-border-color: #dcdcdc;
    -fx-border-color: #dcdcdc;
    -fx-border-width: 1;
}

.modern-table .column-header-background {
    -fx-background-color: #f0f0f0;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.modern-table .table-row-cell {
    -fx-border-color: #dcdcdc;
    -fx-border-width: 0 0 1 0; /* Only bottom border for rows */
    -fx-font-size: 12px;
    -fx-padding: 5;
}

.modern-table .column-header, .modern-table .filler {
    -fx-background-color: #f0f0f0;
}

.modern-table .table-cell {
    -fx-padding: 5;
    -fx-font-size: 12px;
    -fx-text-fill: #333;
}

.modern-table .column-header .label {
    -fx-text-fill: #333;
}


/* СТИЛИ ВКЛАДКИ ПРОСМОТРА ПРОЕКТА */
.overview-container {
    -fx-padding: 20;
    -fx-background-color: #f4f4f4;
    -fx-border-color: #dcdcdc;
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

.overview-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
    -fx-padding-bottom: 10;
}

.overview-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #555;
    -fx-padding-top: 10;
}

.overview-value {
    -fx-font-size: 16px;
    -fx-text-fill: #333;
    -fx-padding-bottom: 10;
}

.overview-section {
    -fx-padding: 10 0 10 0;
}

.overview-button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.overview-button:hover {
    -fx-background-color: #45a049;
}

.overview-progress-bar {
    -fx-pref-width: 350px;
    -fx-pref-height: 15px;
    -fx-accent: rgb(24, 37, 156); /* Customize the color as needed */
}

/* СТИЛИ ПРАВОЙ ПАНЕЛИ */
.right-panel {
    -fx-background-color: rgb(55, 70, 108);
    -fx-padding: 20;
    -fx-border-color: rgb(41, 56, 90);
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

.right-panel-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #fffefe;
    -fx-padding-bottom: 10;
}

.right-panel-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #fffefe;
    -fx-padding-top: 10;
}

.right-panel-input {
    -fx-font-size: 14px;
    -fx-text-fill: rgb(20, 12, 84);
    -fx-padding-bottom: 10;
    -fx-background-color: #ffffff;
    -fx-border-color: #dcdcdc;
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

.right-panel-flow {
    -fx-font-size: 14px;
    -fx-text-fill: rgb(20, 12, 84);
    -fx-padding-bottom: 10;
    -fx-background-color: #ffffff;
    -fx-border-color: #dcdcdc;
    -fx-border-width: 1;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-padding: 5;
}

/* CSS для статусов задач */
.status-done {
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-weight: bold;
    -fx-background-color: green;
    -fx-background-radius: 5; /* Скругление */
    -fx-padding: 2 5 2 5; /* Внутренние отступы */
}

.status-on-confirmation {
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-background-color: yellow;
    -fx-background-radius: 5; /* Скругление */
    -fx-padding: 2 5 2 5; /* Внутренние отступы */
}

.status-canceled {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: rgb(151, 22, 22);
    -fx-background-radius: 5; /* Скругление */
    -fx-padding: 2 5 2 5; /* Внутренние отступы */
}

.status-expired {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: red;
    -fx-background-radius: 5; /* Скругление */
    -fx-padding: 2 5 2 5; /* Внутренние отступы */
}

.status-not-done {
    -fx-text-fill: red;
    -fx-font-weight: bold;
    -fx-background-radius: 5; /* Скругление */
    -fx-padding: 2 5 2 5; /* Внутренние отступы */
}